.notesMainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.notesMainTop {
  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.newNoteNameContainer {
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noteFirstNameLabel {
  margin-right: 35px;
  margin-bottom: 4px;
}

.newNoteNameContainer input {
  padding: 5px 0px 5px 4px;
}

.newNoteBodyContainer {
  display: flex;
  width: 28%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.noteFirstBodyLabel {
  margin-right: 42px;
  margin-bottom: 4px;
}

.newNoteBodyContainer input {
  padding: 5px 0px 5px 4px;
}

.createNoteBtnContainer {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.createNoteBtn {
  width: 100%;
  height: 25px;
  padding: 2px;
  border-radius: 6px;
}

.notesMainContentContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.notesContainer {
  display: grid;
  width: 80%;
  height: 90%;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
  align-items: center;
}

.noteContainer {
  position: relative;
  display: flex;
  width: 90%;
  height: 90%;
  align-items: center;
  flex-direction: column;
}

.notesTopContainer {
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
